PORT=4000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:5173

MONGO_URL=mongodb://lucasmartinsfelipe321_db_user:<senha>@ac-x3xhnlb-shard-00-00.ms9evqk.mongodb.net:27017,ac-x3xhnlb-shard-00-01.ms9evqk.mongodb.net:27017,ac-x3xhnlb-shard-00-02.ms9evqk.mongodb.net:27017/gestor?ssl=true&replicaSet=atlas-1ijhzc-shard-0&authSource=admin&appName=Cluster1

JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=7d

MAX_AVATAR_SIZE_MB=5
